<div class="container mt-4">
    <div class="col-md-4 offset-4">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="form-group">
                <label for="UserName">Kullanıcı adı/Mail Adresi</label>
                <input type="text"  #userName [appCheckInputValid]="userName" ngModel name="UserName" required minlength="5" class="form-control">
                <div class="valid-feedback">
                  Kullanıcı adı veya Mail Adresi Gerekli
                </div>
            </div>
            <div class="form-group mt-2">
                <label for="password">Şifre</label>
                <input type="password" #password [appCheckInputValid]="password" ngModel name="password"  required minlength="5" class="form-control">
                <div class="invalid-feedback">
                    Şifre Gerekli
                  </div>
            </div>
            <div class="form-group mt-2">
                <button class="btn btn-primary w-100" [disabled]="!loginForm.valid">Giriş Yap</button>
                <span class="btn btn-outline-danger mx-2" (click)="logOut()" *ngIf="isAuth"><i class="fa fa-power-off"></i>
                    {{userName}}(Çıkış Yap)</span> 
            </div>
        </form>
    </div>
</div>